@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto&display=swap');

/*---------- Global Styles ----------*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	letter-spacing: 2px;
}

html,
body {
	height: 100vh;
}

body {
	width: 100vw;
	background: url("../images/bg1.jpg") center center no-repeat;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 0 auto;
}

/*---------- Header ----------*/
h1 {
	text-align: center;
	margin-top: 25px;
	/* margin-bottom: px; */
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Luckiest Guy', cursive;
	font-style: oblique;
	font-weight: 600;
}

/*----------Buttons----------*/
.game-button-container {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

.gameButtons {
	height: 200px;
	width: 200px;
	padding: 10px;
	margin: 10px;
	border: 4px solid rgb(170, 167, 167);
	border-radius: 50% 50%;
	box-shadow: #000 6px 4px 4px;
	outline: none;
}

.gameButtons:focus {
	outline: none;
}

#btn-green {
	background-color: rgb(19, 226, 36);
}

#btn-blue {
	background-color: rgb(13, 13, 228);
}

#btn-purple {
	background-color: rgb(185, 22, 185);
}

#btn-red {
	background-color: rgb(223, 18, 18);
}

.control-buttons {
	padding: 10px;
	border: solid 2px #000;
	border-radius: 8px;
	font-weight: 600;
	color: #000;
}

/*---------- Score Counters ----------*/
.counters {
	justify-content: center;
	display: flex;
	padding: 10px;
	font-size: 25px;
	font-style: oblique;
}

#instructions {
	font-size: 50px;
	font-weight: 800;
	justify-content: center;
	display: flex;
	font-style: oblique;
}

#footer {
	background-color: rgb(224, 62, 3);
	flex-shrink: 0;
}

#footer p {
	font-size: 14px;
	margin-top: 5px;
	text-align: center;
}

/*---------- @Media Queries ----------*/
@media screen and (max-width: 490px) {
	.gameButtons {
		width: 110px;
		height: 110px;
	}

	#instructions {
		font-size: 30px;
	}

	.counters {
		font-size: 12px;
	}

	#footer p {
		font-size: 12px;
	}
}

@media screen and (max-width: 330px) {
	.gameButtons {
		width: 95px;
		height: 95px;
	}
}