@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

/*---------- Global Styles ----------*/
* {
    margin: 0;
    padding: 0;
    border: 0;

}

body {
    width: 100vw;
    height: 100vh;
   
    background-color: rgb(236, 222, 222);
  
}

/*---------- Header ----------*/
h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

/*----------Game Buttons----------*/
.game-button-container {
    display: flex;
    justify-content: center;
}

.gameButtons {
    height: 150px;
    width: 150px;
    padding:10px;
    margin: 10px;
    /* border: px solid #000; */
    border-radius: 8px;
   

}
  
#btn-green {
    background-color: rgb(19, 226, 36);
     /* box-shadow: rgb(11, 136, 22) 4px 4px 4px 5px; */
}
/* #btn-green:hover {
    background-color: rgb(24, 151, 35);
    
} */

#btn-blue {
    background-color: rgb(13, 13, 228);
}
#btn-purple {
    background-color: rgb(185, 22, 185);
}
#btn-red {
    background-color: rgb(223, 18, 18);
}

.control-buttons {
padding:10px;
border: solid 2px #000;
border-radius: 8px;
 
}
/*---------- Score Counters ----------*/
.counters {
    justify-content: center;
    display: flex;
    padding: 10px;
    
   

}



